.container {
  width: 50vw;
  min-width: 300px;
  margin: auto;
  background-color: #f1f1f1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: #333;
  border: 1px solid #d1d1d1;
}
